#aptui {
    height: 100fr;
    max-height: 100%;
}

RequestContainer {
    layout: vertical;
    background: $boost;
    padding:2;
    border: solid white;
    width: 1fr;
    height: 20;
}

#response {
    /*
    width: 1fr;
    content-align: left bottom;
    text-opacity: 100%;
    dock: left;
    padding: 5;
    */
    overflow: scroll;
}

Button {
}

#send {
    dock: right;
}

#header{
    layout: horizontal;
}
#headers{
    width: 1fr;
    max-height: 1fr;
    height: 5;
}

#key, #value {
    width: 1fr;
    max-width: 1fr;
}

.body {
    max-height: 1fr;
    max-width: 1fr;
    width: 1fr;
}

#methods{
    layout: horizontal;
    margin: 1;
    padding: 0;
}

#status_code{
    dock: right;
    width: 0.15fr;
    height: 0.1fr;
    background: white;
    color: black;
    text-align: center;
    padding: 2;
    border: solid black;
    text-style: bold;
}

#response_text{
    padding: 2;
    color: white;
    border: solid white;
    max-height: 100vh;
    overflow: scroll;
}

RequestHeader {
    padding: 0;
    height: 5;
}

#get, #post, #patch, #put, #delete {
    width: 1fr;
    max-width: 1fr;
}

#opts{
    layout: horizontal;
    height: 2fr;
}

#tocurl, #importcurl, #savereq, #loadreq, #copyresp{
    border: black;
    padding: 0;
}
