#aptui {
    height: 100fr;
    max-height: 100%;
}

RequestContainer {
    layout: vertical;
    background: $boost;
    padding:2;
    border: solid white;
    width: 1fr;
    height: 20;
    /*
    overflow-y: scroll;
    */
}

#response {
    height: 20;
}

#send {
    dock: right;
}

#header{
    layout: horizontal;
}
#headers{
    width: 1fr;
    max-height: 1fr;
    height: 5;
}

#key, #value {
    width: 1fr;
    max-width: 1fr;
}

.body {
    max-height: 1fr;
    max-width: 1fr;
    width: 1fr;
}

#methods{
    layout: horizontal;
    margin: 1;
    padding: 0;
}

#status_code{
    dock: right;
    width: 0.15fr;
    height: 0.35fr;
    color: black;
    background: white;
    text-style: bold;
    text-align: center;
}

#response_text{
    padding: 2;
    color: white;
    border: solid white;
    /*
    max-height: 100vh;
    overflow: scroll;
    */
}

RequestHeader {
    padding: 0;
    height: 5;
}

#get, #post, #patch, #put, #delete {
    width: 1fr;
    max-width: 1fr;
}

#opts{
    layout: horizontal;
    height: 3fr;
}

#tocurl, #importcurl, #savereq, #loadreq, #copyresp{
    border: black;
    padding: 0;
}
