#aptui {
    height: 100fr;
    max-height: 100%;
}
Request {
    layout: vertical;
    background: $boost;
    height: 20;
    padding:2;
}

#repsonse {
    content-align: left bottom;
    text-opacity: 100%;
    dock: left;
    padding: 5;
}

Button {
}

#send {
    dock: right;
}

#import {
    dock: bottom;
}

.header{
    layout: horizontal;
    max-height: 5;
}

#key, #value {
    width: 1fr;
    max-width: 1fr;
}

.body {
    max-width: 5fr;
}
#methods{
    layout: horizontal;
    margin: 1;
    padding: 0;
    width: 5fr;
}
