#aptui {
    height: 100fr;
    max-height: 100%;
}
RequestContainer {
    layout: vertical;
    background: $boost;
    height: 20;
    padding:2;
    border: solid white;
}

#repsonse {
    content-align: left bottom;
    text-opacity: 100%;
    dock: left;
    padding: 5;
}

Button {
}

#send {
    dock: right;
}

/*
#import {
    dock: bottom;
}
*/

.header{
    layout: vertical;
    max-height: 5;
}
#headers{
    max-height: 5;
    width: 1fr;
}

#key, #value {
    width: 1fr;
    max-width: 1fr;
}

.body {
    max-width: 5fr;
    max-height: 1fr;
}
#methods{
    layout: horizontal;
    margin: 1;
    padding: 0;
    width: 5fr;
}

#status_code{
    dock: right;
    width: 0.1fr;
    height: 0.1fr;
    background: white;
    color: black;
    text-align: center;
    padding: 2;
    text-style: bold;
}

#response_text{
    padding: 2;
    background: #333333;
    color: white;
    border: solid white;
}

RequestHeader {
    layout: horizontal;
}
